@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Application TP A11</h1>
    <p>
        Cette application est le TPA11 en partie, en version ASP.net. Il utilise la table libraryItem pour stocker les livres et y effectuer les 4 manipulations du CRUD.
    </p>
    <p> En plus,
        <strong>en guise d'ajouts suite à la présentation en classe</strong>,
        il utilise les tables orderItem, clientOrder, et client pour recomposer les commandes client, en cherchant les items que ces commandes contiennent et va chercher chaque item de la commande pour l'afficher de manière individuelle au besoin.
    </p>
    <p>
        En dernier lieu, <strong>une recherche par ISBN (Search by ISBN) dans les commandes existantes</strong> permet de trouver le client qui à commandé un item particuler et le numéro de la commande, toutes les commandes se trouvent dans 'All Client Orders' pour comparaison.
</p>
</div>
